{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_playerhud/view_header
    @package block_playerhud
    @copyright 2026 Jean Lúcio
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    Example context (json):
    {
        "userpicture": "<img src='avatar.png'>",
        "fullname": "John Doe",
        "level_class": "ph-lvl-tier-2",
        "level_display": "5 / 20",
        "xp_display": "1200 / 5000 XP",
        "progress": 45
    }
}}
<div class="card shadow-sm mb-4 border-0 ph-card-rounded">
    <div class="card-body p-4">
        <div class="d-flex align-items-center">
            <div class="flex-shrink-0 me-4">
                {{{userpicture}}}
            </div>
            <div class="flex-grow-1">
                <div class="d-flex align-items-center mb-1">
                    <h2 class="m-0 fw-bold text-dark me-3">{{fullname}}</h2>
                    
                    <span class="badge {{level_class}} border shadow-sm px-3 py-2 ph-text-sm">
                        {{#str}} level, block_playerhud {{/str}} {{level_display}}
                    </span>
                </div>
                
                <div class="d-flex justify-content-end small fw-bold text-muted mb-1 mt-3">
                    <span>{{xp_display}}</span>
                </div>

                <div class="progress ph-progress-container">
                    <div class="progress-bar {{level_class}} ph-progress-bar" role="progressbar" 
                         style="width: {{progress}}%;"
                         aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">
                         <span class="ph-progress-text">{{progress}}%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
