{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_playerhud/view_layout

    Main layout for the student view with tabs.

    @package    block_playerhud
    @copyright  2026 Jean Lúcio <jeanlucio@gmail.com>
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    @example context (json):
    {
        "url_course": "#",
        "str_back_course": "Back to Course",
        "is_teacher": true,
        "url_manage": "#",
        "str_manage": "Game Master Panel",
        "header_html": "<div class='alert alert-info'>Header Stats Placeholder</div>",
        "tabs": [
            {
                "active": true,
                "url": "#",
                "icon": "<i class='fa fa-trophy'></i>",
                "text": "Ranking"
            },
            {
                "active": false,
                "url": "#",
                "icon": "<i class='fa fa-book'></i>",
                "text": "Collection"
            }
        ],
        "tab_content_html": "<p>Content of the active tab goes here.</p>",
        "str_status_active": "You are participating in the game.",
        "url_disable": "#",
        "str_confirm_disable": "Are you sure?",
        "str_disable": "Disable and Exit"
    }
}}
<div class="playerhud-container">
    {{! Header Navigation }}
    <div class="mb-3 d-flex justify-content-between align-items-center">
        <a href="{{url_course}}" class="btn btn-outline-secondary btn-sm shadow-sm">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> {{str_back_course}}
        </a>
        
        {{#is_teacher}}
        <a href="{{url_manage}}" class="btn btn-primary btn-sm shadow-sm">
            <i class="fa fa-cogs" aria-hidden="true"></i> {{str_manage}}
        </a>
        {{/is_teacher}}
    </div>

    {{! Gamification Header (Level Bar) }}
    {{{header_html}}}

    {{! Navigation Tabs }}
    <ul class="nav nav-pills mb-4 ph-nav-pills" id="ph-student-tabs" role="tablist">
        {{#tabs}}
        <li class="nav-item" role="presentation">
            <a class="nav-link {{#active}}active{{/active}}" href="{{url}}">
                <span aria-hidden="true" class="me-2">{{icon}}</span> {{text}}
            </a>
        </li>
        {{/tabs}}
    </ul>

    {{! Tab Content Area }}
    <div class="tab-content mt-3 ph-tab-content-wrapper">
        {{{tab_content_html}}}
    </div>

    {{! Footer Actions }}
    <div class="text-center mt-4 mb-3 pt-3 border-top text-muted small">
        {{str_status_active}}
        <a href="{{url_disable}}" class="text-danger ms-2 js-disable-hud text-decoration-underline"
           data-confirm-msg="{{str_confirm_disable}}">
            {{str_disable}}
        </a>
    </div>
</div>

{{! Includes the Modal Template }}
{{> block_playerhud/modal_item }}
